img {
    width:200px;
    height:300px;

}
h3 {
    font-family: 'Mali', cursive;
}
h1 {
    font-family: 'Mali', cursive;
}
p {
    font-family: 'Mali', cursive;
}
li {
    font-family: 'Mali', cursive;
}
body {
    text-align: center;
    background-color: #82ff6f;
}
